/* The styling below is custom in that we require the :checked Pseudo class, which Tailwind doesn't offer out of the box. However the styling (border color and box shadow) the below applies is native Tailwind. */
input:checked + label {
	border-color: #60A5FA;
	box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.required::after 
{
    content: "*";
    font-weight: bold;
    color: red; 
}

body{
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}